<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">



<configuration>

<!--    未指时，自动查找。想开启标准输出日志才需要配置-->
<!--    <settings>-->
<!--        <setting name="logImpl" value="STDOUT_LOGGING"/>-->
<!--    </settings>-->
    
    
    <environments default="development">
        <!--一个environment对应一个SessionFactory,也对应一个数据库-->
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.cj.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://localhost:3306/test"/>
                <property name="username" value="root"/>
                <property name="password" value=""/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <!--sql映射文件创建好之后，需要将该文件路径配置到这里-->
        <!--默认是从根路径下寻找的-->
        <mapper resource="carMapping.xml"/>
        <!--绝对路径寻找,要加上file：///  开头-->
<!--        <mapper url="file:///d:/carMapping.xml"/>-->
    </mappers>
</configuration>